.text-block {
  color: black;
}
.hero__content-wrapper .button {
  border-radius: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero__content-wrapper .button span {
  width: 30px;
}
.hero__content-wrapper.layout-panel-flex.layout-panel-flex--column {
  width: 40%;
  background: #fbfbfb;
  padding: 30px;
}