/* announcement-bar */

.announcement-bar__slides {
  max-width: unset !important;
}
slideshow-slide.announcement-bar__slide {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
slideshow-slide.announcement-bar__slide h2,
a {
  margin: 0px;
}
slideshow-slide.announcement-bar__slide a {
  padding: 5px 15px;
  background: yellow;
  display: flex;
  align-items: center;
  gap: 10px;
}
slideshow-slide.announcement-bar__slide a span {
  width: 20px;
}

/* hero section style */

.text-block {
  color: black;
}
.hero__content-wrapper .button {
  border-radius: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero__content-wrapper .button span {
  width: 30px;
}
.hero__content-wrapper.layout-panel-flex.layout-panel-flex--column {
  width: 40%;
  background: #fbfbfb;
  padding: 30px;
}